<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Profile</ion-card-subtitle>
      <ion-card-title>Hello {{user.firstname}}!</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
<ion-footer class="leave">
  <ion-card>
    <ion-card-content>
      <ion-button color="warning" expand="block" (click)="logout()"> Logout </ion-button><br>
      <ion-button color="danger" expand="block" (click)="delete()"> Delete Account</ion-button>
    </ion-card-content>
  </ion-card>
</ion-footer>
