<ion-header>
  <ion-toolbar>
    <ion-title><img src="assets/Images/title.png" height="20px" ></ion-title>
    <ion-buttons slot = "end">
      <ion-button (click) = "popover($event)">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
 
      <ion-card-subtitle>Profile</ion-card-subtitle>
      <ion-card-title>Hello {{user.firstname}}!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Welcome to Fire Fitness! The app that allows you to create and keep track of your workouts.<br><br>
      Head over to the workouts tab when your ready to begin.
    </ion-card-content>
    <ion-img src="assets\Images\fitness.jpg"></ion-img>
  </ion-card>
  
</ion-content>
<ion-footer class="ion-padding leave">
  <ion-button color="primary" expand="block" (click)="logout()"> Logout </ion-button><br>
  <ion-button color="primary" fill = "outline" expand="block" (click)="delete()"> Delete Account</ion-button>
</ion-footer>
