 <ion-header>
    <ion-toolbar>
      <ion-title><img src="assets/Images/title.png" height="20px" ></ion-title>
      <ion-buttons slot ="end">
        <ion-button (click)="dismissModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list *ngFor="let results of exerciseList">
      <ion-item button (click)="addExercise(results)" [(ngModel)]="exercise" ngDefaultControl>
        {{results.name}}
      </ion-item>
    </ion-list>
  </ion-content>